{% extends 'core/base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-6 text-2xl text-center">Newest items</h2>

        <div class="grid grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {% for item in items %}
                <div class="flex flex-col h-full">
                    <a href="{% url 'item:detail' item.id %}" class="flex flex-col h-full">
                        <div class="relative">
                            <img src="{{ item.image.url }}" class="w-full h-48 md:h-64 lg:h-72 object-cover object-center rounded-t-xl">
                        </div>
                        <div class="p-6 bg-white rounded-b-xl flex-grow flex flex-col justify-between">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price: {{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        
        
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-6 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">
                        <div class="btn shadow-[0_9px_0_rgb(0,0,0)] hover:shadow-[0_4px_0px_rgb(0,0,0)] text-black bg-white ease-out hover:translate-y-1 transition-all rounded">
                            <h2 class="text-2xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{ category.items.count }} items</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
